.modal-content {
	position: relative;
	background-color: #e8e8e8;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 0px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	
	padding: 15px 40px;
}

.modal-title {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 48px;
	text-align: center;
}

.close {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 60px;
}




/*===================================
Call 371
======================================*/

.call371 .btn{
	width: 100%;
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: 300;
	border-radius: 0px;
	background: #46486b;
	color: #fff;
	
	margin-top: 44px;

}

.call371 button:hover {
	background: #fff;
	color: #46486b;
}

.call371 input {
	font-size: 20px;
	padding: 22px;
}

.call371 .form-control {
	font-size: 20px;
	color: #46486b;
}

.sms371 .form-group {
	margin-bottom: 0px; 
}

.sms371 .btn {
	margin-top: 20px;
}

.sms371 .radio {
	font-size: 17px;
	padding-top: 27px;
}

.sms371 .psms371 {
	text-align: right;
	padding-top: 57px;
	margin-bottom: 0px;
}


/*===================================
About US
======================================*/
.modal-aboutus {
	font-size: 16px;
}