/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
		color: #46486b;
		font-family: "ProximaNova-Reg", Helvetica, Arial, sans-serif; 
		font-weight: 300; 
		background: #ececef;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


a, a:hover {
	color: #46486b;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.container {
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}



/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Reg';
  src: url('../fonts/ProximaNova-Reg.eot');
  src: url('../fonts/ProximaNova-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Reg.woff') format('woff'), url('../fonts/ProximaNova-Reg.ttf') format('truetype'), url('../fonts/ProximaNova-Reg.svg') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg') format('svg');
}

p {
	text-align: justify;
}

header{
	background: #fff;
	padding: 40px 0;
}

.header_caption {
	margin-top: 20px;
	margin-bottom: -20px;
	text-align: left;
	padding-left: 20px;
	font-size: 16px;
}

footer {
	background: #46486b;
	color: #838498;
	padding: 40px;
}

footer a {
	font-size: 14px;
	color: #fff;
}

footer a:hover {
	color: #fff;
}

footer p {
	font-size: 11px;
}

.bottom {
	bottom: 0;
	position: absolute;
}

.more {
	float:right;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	color: #f58220; 
}

.countrylist, .hide-show-content a {
	text-decoration: underline;
	font-weight: bold;
}



#fllow2 > a > div {
	background-image:url('../img/follow-sprite.png'); 
	margin-right: 15px;
	width:38px;
	height:38px;
	float:left;
	display:block;
}

.follow-vk { 
	background-position:0px 0px;
}
.follow-vk:hover {
	background-position:0px -43px; 
}
.follow-fb { 
	background-position:250px 0px; 
}
.follow-fb:hover {
	background-position:250px -43px; 
}
.follow-yt { 
	background-position:199px 0px;
}
.follow-yt:hover {
	background-position:199px -43px;
}
.follow-g { 
	background-position:148px 0px; 
}
.follow-g:hover {
	background-position:148px -43px; 
}
.follow-insta { 
	background-position:97px 0px; 
}
.follow-insta:hover {
	background-position:97px -43px; 
}


.footer-trevi {
	float: right;
	padding-top: 15px;
}

.padtop40 {
	padding-top: 40px;
}

.pad10 {
	padding: 10px;
}

.pad40 {
	padding: 40px;
}

.pad40 .icalc-video {
	padding: 5px 10px;
}

header p {
	text-align: right; 
}

.citychoose .cch-c {
	text-align: right;
	padding-top: 8px;
}

.navbar-default {
	background-color: #46486b;
	border-color: #46486b;
	border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
	text-decoration: underline;
}

.navbar-nav > li > span {
	position: relative;
	display: block;
	padding: 9px 2px;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
}

.lk-nav {
	background-color: #86a63f;
	border-color: #86a63f;
	border-radius: 0px;
}

.enter {
	background: #333554;
}

/*======================= FIXED TOP MENU =========*/
.fixheadertop { 
	/* fixed position a zero-height full width container */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	/* center all inline content */
	text-align: center;
	z-index: 16;
}

.fixheadertop > div {
	/* make the block inline */
	display: inline-block;
	/* reset container's center alignment */
	text-align: left;
}

/*======================= FIXED END =========*/


.bt-clr-nav {
	margin-bottom: 0px;
}

.bt-clr-carousel {
	padding-left: 0px;
	padding-right: 0px;
	
	margin-top: 204px;
}

.bt-clr-icalc > div > div {
	padding-right: 5px;
	padding-left: 5px;
}

.slider-pause .fa {
	color: #fff;
	padding-left: 10px;
}

a:hover.slider-pause .fa {
	opacity: 0.6;
}

.dd-menu-clr {
	min-width: 64px;
	margin: 2px 0 0 1px;
}

/* ==========================================================================
CONTENT
   ========================================================================== */

.carousel-go .btn {
	width: 30%;
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	border-radius: 0px;
	border-color: #46486b;
	background: #46486b;
	color: #fff;
}
  
.carousel-go .btn:hover {
	background: #fff;
	color: #46486b;
}
  
.carousel_copyright {
	position: absolute;
	bottom: 5px;
	right: 180px;
}
   
.footer_copyright {
	padding-top: 10px;
	font-size: 10px;
}
    
.footer_copyright a {
	color:  #838498;
	font-size: 10px;
}
  
.carousel_copyright a {
	color: #e8e8e8;
}
   
.carousel_copyright a:hover {
	color: #f58220;
}
   
   
.content-internet {
	background: #fff;
}

.content-internet-calc {
	background: #e8e8e8;
	font-size: 20px;
	padding-bottom: 40px;
}

.howtouse img {
	padding: 20px 20px 20px 40px;
}

.howtouse {
	font-size: 24px;
}

.order-cost.s-discount, .icalc-full span.s-discount {
	font-size: 48px;
}

.order-cost.s-oldprice, .icalc-full span.s-oldprice, .mcalc-sum .s-oldprice  {
	font-size: 30px;
	text-decoration:line-through;

}


/*NEW style rows*/


.icalc-left, .mcalc-left {
	padding: 15px;
	background: #fff;
	border-left: 40px solid #e8e8e8;
	border-right: 15px solid #e8e8e8;
}

.icalc-right, .mcalc-right {
	padding: 15px;
	background: #fff;
	border-left: 15px solid #e8e8e8;
	border-right: 40px solid #e8e8e8;
}

.mcalc-right {
	padding-top: 33px;
}
	
	
	/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
	
	
/*=====================================
*/	


/*
.mcalc-left {
	padding: 15px;
	margin-left: 40px;
	background: #fff;
}

.mcalc-right {
	padding: 15px;
	margin-right: 40px;
	background: #fff;
}*/

.addcash {
	padding-bottom: 40px;
}

.video-i {
padding-bottom: 80px;
}

.addcash-left {
	padding: 15px;
	margin-left: 40px;
	background: #e8e8e8;
}

.addcash-right {
	padding: 15px;
	margin-right: 40px;
	background: #e8e8e8;
}

.addcash-left span, .addcash-right span {
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif; 
	font-size: 36px;
	margin-bottom: 20px;
}
.addcashbtn .btn {
	width: 100%;
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	border-radius: 0px;
	background: #46486b;
	color: #fff;
}

.icalc-addsim {
	background: #e8e8e8;
	padding: 15px;
	margin-top: 20px;
}

.icalc-addsim .input-group-addon {
	background: #e8e8e8;
	border-color: #e8e8e8;
}

.addcash-left .icalc-simtype, .addcash-right .icalc-simtype {
	padding-top: 25px;
}

.addcash-left p, .addcash-right p {
	margin-bottom: 0px;
}

.addcash-left, .addcash-right {
	font-size: 20px;
}

.addcash-left .easy-form-label, .addcash-right .easy-form-label {
	font-size: 30px;
}

.addcash-left .easy-form-input, .addcash-right .easy-form-input {
	margin-top: 9px;
}

.forpartners {
	font-size: 14px;
}

.forpartners ul {
	padding-top: 13px;
}

.forpartners .p-promote {
	padding-top: 17px;
}

.forpartners a {
	color: #86a63f;
}

.faq > div > a > div {
	border-right: 6px solid #fff;
}

.faq-371 {	
	background: #46486b;
	color: #fff;
}

.faq-ser {	
	background: #f58220;
	color: #fff;
}

.faq-keepgo {	
	background: #86a63f;
	color: #fff;
}

.faq-371 span, .faq-ser span, .faq-keepgo span {	
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif; 
	font-size: 30px;
}

.faq-akkord .panel-title {
	font-size: 20px;
}

.faq-akkord .panel-body {
	font-size: 14px;
}

.faq-akkord .panel-heading, .faq-akkord .panel-default {
	color: #46486b;
	background-color: #e8e8e8;
	border-color: #e8e8e8;
}



.profile {
	font-size: 20px;
}

.profile .lk-data {
	font-weight: bold;
}



/*=== Удалить стили, когда элемен сменится при кодинге на  SELECT ===*/

.icalc-btn {
	color: #46486b;
	font-family: "ProximaNova-Reg", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	border: 1px solid #fff;
	padding-left: 0px;
}

.icalc-btn:hover, .icalc-btn:focus, .icalc-btn:active   {
	border-radius: 0px;
}

.bt-clr-ddown {
	border-radius: 0px;
}

.modal-tariffs-cchose .dropdown {	
	margin-top: 29px;
}
.modal-tariffs-cchose .dropdown .btn {
	padding-top: 8px;
	padding-bottom: 8px;
}

/*==========================================================*/


.icalc-slider-1, .icalc-simtype  {
	padding-top: 20px;
}

.icalc-slider-1 p {
	margin-bottom: 0px;
}

.icalc-slider-1 p span {
	font-size: 12px;
}

.icalc-slider-1 p span span {
		font-size: 20px;
		float: right;
}

.icalc-slider-1 .btn-group {
	width: 100%;
	margin-left: 2px;
}

.icalc-slider-1 .btn-group > button {
 /*	padding-left: 20px;
	padding-right: 20px;*/
	width: 25%;
}

.icalc-slider-1 .btn-group > .btn-default[disabled] {
	color: #fff;
}

.mcalc-balance .btn-group {
	width: 90%;
}

.mcalc-balance .btn-group > button {
	width: 50%;
}

.icalc-slider-1 .btn-group > button:hover, .icalc-slider-1 .btn-group > button:focus, .icalc-slider-1 .btn-group > button.active, .mcalc-balance .btn-group > button:hover, .mcalc-balance .btn-group > button:focus, .mcalc-balance .btn-group > button.active  {
	background: #46486b;
	color: #fff;
}




.icalc-slider-1-bef-input {
		font-size: 20px;
		float: right;
		padding-left: 38px;
		padding-right: 0px;
}

.mcalc-slider-1 span {
	font-size: 30px;
	float: right;
}

.mcalc-slider-1 p {
	margin-bottom: 0px;
}
.mcalc-slider-1 p.caption, .icalc-slider-1 p.caption, .mcalc-final p.caption, .icalc-right p.caption {
	font-size: 14px;
}

 .icalc-slider-1 p.caption {
	margin-top: 0px;
 }

p.round_green::before {
    content: "• ";
    color: #86a63f;
	font-size: 20px;
}
p.round_orange::before {
    content: "• ";
    color: #f58220;
	font-size: 20px;
}
 
 
 
 

/* ==========================================================================
FORMS
   ========================================================================== */

   
.select2-container-multi .select2-choices {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif; 
	font-size: 16px;
	height: auto !important;
	height: 1%;
	margin: 0;
	padding: 0 5px 0 0;
	position: relative;
	border: 2px solid #46486b;
	cursor: text;
	overflow: hidden;
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
	background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
	background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
	background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}   

.select2-search-choice div {
	padding: 3px 5px 3px 3px;
}

.select2-search-choice-close {
	top: 7px;
}

.select2-container-multi .select2-search-choice-close {
	left: 6px;
}

.select2-container .select2-choice {
	border: 2px solid #46486b;
	border-radius: 0px;
	height: 35px;
	padding: 4px 0 0 8px;
}

.select2-container {
	margin-bottom: 40px;
	margin-top: 29px;
	font-size: 16px;
}

.select2-container .select2-choice .select2-arrow {
display: inline-block;
width: 18px;
height: 100%;
position: absolute;
right: 0;
top: 0;
border-left: 1px solid #fff;
border-radius: 0 4px 4px 0;
background-clip: padding-box;
background: #fff;
}

.select2-container .select2-choice {
border: 2px solid #46486b;
border-radius: 0px;
height: 35px;
padding: 4px 0 0 8px;
background-color: #fff;
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #fff));
background-image: -webkit-linear-gradient(center bottom, #fff 0%, #fff 50%);
background-image: -moz-linear-gradient(center bottom, #fff 0%, #fff 50%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ffffff', GradientType = 0);
background-image: linear-gradient(to top, #fff 0%, #fff 50%);
}


   
.form-voip .select2-container {
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
}
 

.activate-day-kg {
	margin-top: 20px;
	margin-bottom: 0px;
}
   
.easy-form-label {
	text-align: left;
	padding-top: 5px;
	font-weight: 300;
}

.easy-form-input, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	border: 2px solid #46486b;
	border-radius: 0px;
	background-color: #fff;
}
.easy-form-input:focus, .easy-form-input:active {
	border: 3px solid #46486b;
	border-radius: 0px;
}


.gotooltip {
	top: 5px;
	right: 18px;
	position: absolute;
}


.icalc-slider-1  .col-sm-3, .mcalc-balance p {
	font-size: 30px;
}

.mcalc-balance p, .mcalc-tariffs p, .rentgoods p {
	margin: 0px;
}

.icalc-simtype .form-group, .mcalc-balance, .mcalc-addbalance .form-group, header .container .row  {
	margin-right: 0px;
	margin-left: 0px;
}

.icalc-simtype > div > label, .mcalc-addbalance > div > label {
	font-weight: 300;
}

.icalc-simtype > div > select, .icalc-simtype > div > input, .mcalc-addbalance > div > div > input, .mcalc-balance .btn, .icalc-slider-1 .btn, .call371 textarea {
	border: 2px solid #46486b;
	border-radius: 0px;
}

.mcalc-balance .btn-group {
	padding-top: 3px;
}

.addmoresim {
	padding-top: 20px;
}



.mcalc-addbalance .input-group-addon {
padding: 0px 12px;
font-size: 30px;
font-weight: normal;
line-height: 1;
color: #46486b;
text-align: center;
background-color: #fff;
border: 1px solid #fff;
border-radius: 0px;
}

.icalc-full span, .mcalc-sum {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif; 
	font-size: 60px;
}
.icalc-mb span, .mcalc-tariffs p {
	font-size: 30px;
}

.padlformobile p {
	padding: 5px 5px 5px 20px;
	margin: 0px;
}

.icalc-mb {
	padding-top: 30px;
	text-align: right;
}

.icalc-mb p, .mcalc-sum {
	text-align: right;
}

.icalc-final > div > div > p, .icalc-full p {
	margin-bottom: 0px;
}


.mcalc-capt {
	padding-top: 33px;
}


/*========================================================
Button
==========================================================*/

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
background-color: #46486b;
border-color: #fff;
}

.icalc-orderbtn {
	padding: 5px 40px;
}

.icalc-orderbtn button, .icalc-orderbtn a {
	width: 100%;
	height: 70px;
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif; 
	font-size: 30px;
	font-weight: 300;
	border-radius: 0px;
	background: #46486b;
	color: #fff;
}

.font20 {
	font-size: 20px;
	padding: 0px;
}

.font20 a {
	font-size: 26px;
	padding-top: 15px;
}

.et-tariffs button {
	width: 100%;
	font-size: 20px;
	font-weight: 300;
	border: 2px solid #46486b; 
	border-radius: 0px;
	background: #fff;
	color: #46486b;
}

.et-tariffs button:hover, .et-tariffs button.active {
	background: #46486b;
	color: #fff;
}


.addcashbtn button:hover {
	background: #fff;
	color: #46486b;
}

.citybtn {
	color: #46486b;
	border: 1px solid #fff;
	margin-left: -25px;
}


.btn-promocode button {
	width: 100%;
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif; 
	font-size: 20px;
	font-weight: 300;
	border-radius: 0px;
	background: #46486b;
	color: #fff;
	margin-top: 50px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.btn-addequip button {
width: 100%;
font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
font-size: 20px;
font-weight: 300;
border-radius: 0px;
background: #46486b;
color: #fff;
margin-top: 22px;
padding-top: 4px;
padding-bottom: 4px;
}







.tariff-service-content {
	padding-left: 40px;
	padding-right: 40px;
}

.et-tariffs {
	padding-bottom: 80px;
}

.et-tariffs-price {
	font-size: 60px;
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif; 
	font-weight: 300;
	margin: 5px;
}


.icalc-video {
	padding: 5px 40px;
}

.content-internet h1, .content-internet-calc h1 {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif; 
	font-size: 48px;
	text-align: center;
}



.content-internet-calc h3, .content-internet h3  {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif; 
	font-size: 24px;
	color: #46486b;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 5px;
}

.content-internet-calc img {
	margin: 0 auto;
}



.ProximaNova-Bold {
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif; 
}

.rentgoods {
	padding-top: 40px;
	padding-bottom: 80px;
}

.rentgoods h4 {
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif; 
	font-size: 26px;
	min-height: 56px;
}

.rentgoods a {
	color: #46486b;
	float: right;
}

.rg-body {
	background: #fff;
	padding: 40px;
}


.carousel-caption {
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif; 
	font-size: 36px;
	bottom: 20%;
	text-shadow: 0 1px 10px rgba(0, 0, 0, .9);
}


.rentgoods .carousel {
	margin-left: 60px;
	margin-right: 60px;
}

.rentgoods .carousel-indicators, .et-tariffs .carousel-indicators, .video-i .carousel-indicators {
	bottom: -80px;
}

.rentgoods .carousel-indicators .active, .et-tariffs .carousel-indicators .active, .video-i .carousel-indicators .active   {
	width: 16px;
	height: 16px;
	margin: 0;
	background-color: #46486b;
}

.rentgoods .carousel-indicators li, .et-tariffs .carousel-indicators li, .video-i .carousel-indicators li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #46486b;
	border-radius:  14px;
}

.rentgoods .carousel-control, .et-tariffs .carousel-control {
	position: absolute;
	top: 30%;
	bottom: 0;
	left: 0;
	width: 5%;
	height: 30%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	filter: alpha(opacity=50);
	opacity: .5;
}
/*
.rentgoods .carousel-control.right, .et-tariffs .carousel-control.right {
	right: 0;
	left: auto;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}

.rentgoods .carousel-control.left, .et-tariffs .carousel-control.left {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}*/

.video-i .carousel-control, .et-tariffs .carousel-control, .rentgoods .carousel-control {
	position: absolute;
	top: 35%;
	bottom: 0;
	left: 0;
	width: 5%;
	font-size: 20px;
	color: #46486b;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	filter: alpha(opacity=100);
	opacity: 1;
}

.video-i .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {

}

.video-i .carousel-control.right, .rentgoods .carousel-control.right, .et-tariffs .carousel-control.right  {
	right: 0;
	left: auto;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .0001)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
	
	margin-right: -40px;
}

.video-i .carousel-control.left, .rentgoods .carousel-control.left, .et-tariffs .carousel-control.left  {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .0001)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
	
	margin-left: -40px;
}

.video-i .ptitle p {
	font-size: 20px;
	text-align: left;
	min-height: 57px;
}

.video-i img {
	width: 100%;
}

/*
#carousel-modems .carousel-inner {
	padding: 5px 50px 5px 50px
}*/




.border-r {
	border-right: 3px solid #e8e8e8;
}
.border-l {
	border-left: 3px solid #e8e8e8;
}


.back-to-top {
	position: fixed;
	bottom: 10px;
	right: 18px;
	border: 1px solid #ececef;
}

.back-to-top a {
	padding: 10px 16px;
	display: block;
	background: #fff;
	color: #46486b;
	border-radius: 0px;
}

.back-to-top a:hover {
	color: #bdbdbd;
}

.back-to-top a:before {
	font-size: 18px;
	vertical-align: bottom;
	-webkit-font-smoothing: antialiased;
}



/* ==========================================================================
COLORS
   ========================================================================== */
.color-orange {
	color: #f58220;
}

.color-green {
	color: #86a63f;
}

.color-purple {
	color: #46486b;
}




/* ==========================================================================
MODALS
   ========================================================================== */

 .modal-tariffs, .modal-delivery, .modal-payments {
 	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif; 
	font-size: 20px;
 }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





/*============================================
Responsive media
=============================================*/
@media screen and (max-width: 992px) {
.icalc-left, .mcalc-left, .icalc-right, .mcalc-right, .addcash-left, .addcash-right {
	margin: 15px;
}

.icalc-left, .mcalc-left {
	border-left: 15px solid #e8e8e8;
}

.icalc-right, .mcalc-right {
	border-right: 15px solid #e8e8e8;
}

.icalc-full.bottom {
	position: relative;
}

.fixheadertop {
position: relative;
}

#carousel-example-generic {
	margin-top: 129px;
}


.hidden-xs {
	display: none;
}

.video-i .ptitle p {
	font-size: 20px;
	text-align: left;
	min-height: 5px;
}

/*.content-internet h1, .content-internet-calc h1 {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 36px;
	text-align: center;
}*/

.btn-promocode button {
	margin-top: 0px;
}

.howtouse {
	font-size: 16px;
	margin-top: 20px;
}

.howtouse img {
	width: 20%;
	padding: 0px 5px 5px 40px;
}

.icalc-mb {
	padding-top: 0px;
}

.et-tariffs-price {
	margin: 0px;
}

.mobile-equip {
	padding-top: 0px;
	margin-top: 0px;
}

.rentgoods {
	padding-bottom: 0px;
}

.video-i {
	padding-bottom: 0px;
}


.carousel-caption {
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif; 
	font-size: 20px;
	bottom: 20%;
}


.col-sm-height {
display: block;
float: none;
}



/*Modals*/

.modal-title {
	font-size: 24px;
}

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

.content-internet h1, .content-internet-calc h1 {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 24px;
	text-align: center;
}

.icalc-left, .mcalc-left {
	border-left: 15px solid #e8e8e8;
}

.icalc-right, .mcalc-right {
	border-right: 15px solid #e8e8e8;
}

#sh_button {
	display: none;
}

.bt-clr-carousel {
margin-top: 177px;
}

.carousel-caption {
font-size: 14px;
bottom: 26%;
}

.icalc-slider-1 .btn-group button {
	font-size: 11px;
}

.icalc-full span, .mcalc-sum {
	font-size: 40px;
}

.container.content-internet-calc.faq-akkord.pad40 {
	padding: 20px 2px;
}


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

.content-internet h1, .content-internet-calc h1 {
	font-size: 20px;
}

.icalc-left, .mcalc-left {
	border-left: 15px solid #e8e8e8;
}

.icalc-right, .mcalc-right {
	border-right: 15px solid #e8e8e8;
}

/*Скрываем чат в мобиьниках*/
#sh_button {
	display: none;
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
.icalc-left, .mcalc-left {
	border-left: 15px solid #e8e8e8;
}

.icalc-right, .mcalc-right {
	border-right: 15px solid #e8e8e8;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {
.icalc-left, .mcalc-left {
	border-left: 15px solid #e8e8e8;
}

.icalc-right, .mcalc-right {
	border-right: 15px solid #e8e8e8;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {
.icalc-left, .mcalc-left {
	border-left: 15px solid #e8e8e8;
}

.icalc-right, .mcalc-right {
	border-right: 15px solid #e8e8e8;
}
}

