.modal-content {
	position: relative;
	background-color: #e8e8e8;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 0px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	
	padding: 15px 40px;
}

.modal-title {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 48px;
	text-align: center;
}

.close {
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 60px;
}

div.error input {border: 1px #ff0000 solid;}





/*===================================
Call 371
======================================*/

.call371 .btn{
	width: 100%;
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: 300;
	border-radius: 0px;
	background: #46486b;
	color: #fff;
	
	margin-top: 44px;

}

.call371 button:hover {
	background: #fff;
	color: #46486b;
}

.call371 input {
	font-size: 20px;
	/*padding: 22px;*/
	height: 50px;
}

.call371 .form-control {
	font-size: 20px;
	color: #46486b;
}

.sms371 .form-group {
	margin-bottom: 0px; 
}

.sms371 .btn {
	margin-top: 20px;
}

.sms371 .radio {
	font-size: 17px;
	padding-top: 27px;
}

.sms371 .psms371 {
	text-align: right;
	padding-top: 57px;
	margin-bottom: 0px;
}



/*===================================
Corporate
======================================*/

.corporate .btn{
	width: 100%;
	font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: 300;
	border-radius: 0px;
	background: #46486b;
	color: #fff;
	/*margin-top: 20px;*/

}

.corporate button:hover {
	background: #fff;
	color: #46486b;
}

.corporate input {
	font-size: 20px;
	margin: 30px auto;
	height: 50px;
}

.corporate .form-control {
	font-size: 20px;
	color: #46486b;
}

/*===================================
About US
======================================*/
.modal-aboutus {
	font-size: 16px;
}

/*===================================
ORDER
======================================*/
.order-info {
	background: #fff;
}
	
.order-info a {
	font-weight: bold;
}
	
.order-info .mcalc-sum {
	font-size: 24px;
}
	
.order-info .icalc-simtype, .sms371 .orderpad {
	padding-top: 0px;
}
			
.modal-orderinfo form {
	margin-bottom: 20px;
}

/*===================================
VOIP
======================================*/
.voiptable div div {
	border: 1px solid #fff;
}
.voipbold div {
	font-weight: bold;
}



/*============================================
Responsive media
=============================================*/
@media screen and (max-width: 992px) {

.modal-title {
font-size: 32px;
}

.close {
font-size: 50px;
}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

.modal-title {
font-size: 24px;
}

.close {
font-size: 40px;
}

}
